extends base

block content

  section.section-cta 
    .login-form(style='max-width: 106rem;')
      h2.heading-secondary.ma-bt-lg CREATE A NEW TOUR
      form.form.form--createTour
        .form__group
          label.form__label(for='name') Tour Name
          input#tour-name.form__input(type='text', placeholder='For eg. The Mountain Explorer', required)
        .form__group.ma-bt-md
          label.form__label(for='summary') Tour Summary
          textarea#tour-summary.form__input(type='text', required, name="summary", cols="30", rows="10")
        .form__group.ma-bt-md
          label.form__label(for='description') Tour Description
          textarea#tour-description.form__input(type='text', required, name="description", cols="30", rows="10")
        .form__group.ma-bt-md
          label.form__label(for='difficulty') Tour Difficulty
          input#tour-difficulty.form__input(type='text', required)
        .form__group.ma-bt-md
          label.form__label(for='price') Tour Price
          input#tour-price.form__input(type='number', required)
        .form__group.ma-bt-md
          label.form__label(for='duration') Tour Duration
          input#tour-duration.form__input(type='number', required)
        .form__group.ma-bt-md
          label.form__label(for='group-size') Tour Group Size
          input#tour-groupSize.form__input(type='number', required)
        .form__group.ma-bt-md
          label.form__label(for='tour-cover-image') Tour Cover Image
          input#tour-cover-image.form__input(type='file', accept="image/*", required)

        .form__group.ma-bt-md
          label.form__label(for='tour-images') Tour Images
          input#tour-images.form__input(type='file', accept="image/*", multiple required)

        
        // Locations Wrapper
        .form__group.ma-bt-md
          label.form__label Tour Locations
          #locations-wrapper
          button.btn.btn--green(type='button', id='add-location') Add Location

        // Start Dates Wrapper
        .form__group.ma-bt-md
          label.form__label Start Dates
          #dates-wrapper
          button.btn.btn--green(type='button', id='add-dates') Add Start Dates

        .form__group
          button.btn.btn--green Add Tour